# Ignore Gradle project-specific cache directory
/.gradle
# Default ignored files
/.idea

# passwords and secrets no supposed to end up in the repo
secrets.sh
# Ignore Gradle build output directory
build
